<p>&nbsp;</p>
<h3>How to use the PAD File Filter?</h3>
<p>
  The PAD File filter is used to insert fields from your PAD File
  anywhere in your nodes. The following describe the usage.
</p>
<p>
  The tag has two syntaxes. One is to access a field directly in
  one of your PAD File. This one is written like this:
  [padfile: language padfile-name field]
  where <em>language</em> is optional. Also, if the padfile-name
  is not specified, the system will attempt to look for the PAD
  File named "pad_file". (The recommanded default for your website
  if you have just one single PAD File.) So a simple tag such
  as [padfile: link] will insert a link to your padfile.xml file.
</p>
<p>
  The other syntax is very similar but does not pertain to any
  specific PAD File. It is written like this: [padfile: field]
</p>
<p>
  The language can be used abbreviated or in full. So English
  and en are equivalent. The language is not necessary for most
  fields which are not translated. However, it is useful for
  the link to force only a specific description language and
  for the descriptions (obviously!)
</p>
<p>
  The name of the PAD File is the filename only, not the name
  of the program (because the filename needs to be unique.)
  Also, you can specify the PADID.
</p>
<p>
  In a few cases, you can use some extraneous arguments. In those
  cases you must specify all the parameters. If you want all the
  languages or the language name is ignored anyway, you may simply
  use the special keyword 'all' for the language. For instance, to
  present the screenshot in a smaller size such as 640x480, you
  can use the following:
</p>
<pre>
  [padfile: all pad_file screenshot 640 480]
</pre>
<p>
  At this time, only the icon and screenshot make use of the width
  and height parameters. None of the other fields have extra arguments.
</p>
<p>
  The available fields are listed in the table below:
</p>
<table cellpadding="5">
  <tr>
    <th>Field</th>
    <th>Comments</th>
    <th>Language</th>
  </tr>
  <tr>
    <td>active</td>
    <td>Wether the PAD File is 'active' or 'off'.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>address_1</td>
    <td>The first line of address of the owner.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>address_2</td>
    <td>The second line of address of the owner.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>author_first_name</td>
    <td>First name of the program author.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>author_last_name</td>
    <td>Last name of the program author.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>author_email</td>
    <td>Email address, as a mailto: link, of the program author.
      Note that since this is public in the PAD File, having
      it on screen makes no difference.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>author_email_only</td>
    <td>The email address only as plain text.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>byte_size</td>
    <td>The exact size of the program file one can download (i.e. the packaged file).</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>category</td>
    <td>The category, in full.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>category_detail</td>
    <td>The last part of the category (after the ::).</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>category_group</td>
    <td>The first part of the category (before the ::).</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>change_log</td>
    <td>The change log text. Since it cannot include HTML, it
      is displayed as plain text. The newline characters are
      changed to &lt;bt/&gt;.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>city_town</td>
    <td>The name of the city where the owner resides.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>company_name</td>
    <td>The name of the owner, a company or an author.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>contact_first_name</td>
    <td>First name of the program contact.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>contact_last_name</td>
    <td>Last name of the program contact.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>contact_email</td>
    <td>Email address, as a mailto: link, of the program contact.
      Note that since this is public in the PAD File, having
      it on screen makes no difference.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>contact_email_only</td>
    <td>The email address only as plain text.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>cost</td>
    <td>The amount of money the program costs in the indicated currency.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>country</td>
    <td>The name of the country where the owner resides.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>creation_date</td>
    <td>The date when you created the PAD File on your Drupal website.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>creation_time</td>
    <td>The time when you created the PAD File on your Drupal website.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>currency</td>
    <td>The name of the currency used with the cost field.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>currency_3letters</td>
    <td>The 3 letter name of the currency used with the cost field.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>desc45</td>
    <td>The description of 45 characters or less.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>desc80</td>
    <td>The description of 80 characters or less.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>desc250</td>
    <td>The description of 250 characters or less.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>desc450</td>
    <td>The description of 450 characters or less.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>desc2000</td>
    <td>The description of 2000 characters or less.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>distribution_permissions</td>
    <td>The distribution permissions of the program. The newline characters
      are changed to &lt;bt/&gt;.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_counter</td>
    <td>The number of times this file was downloaded.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_primary</td>
    <td>Show a link to the page where the customers can download the
      product. The label is the name of the product with the word
      "Download" in front of it.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_primary_only</td>
    <td>The URL to the page where the customers can download the
      product.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_primary_with_icon</td>
    <td>Show a link to the page where the customers can download the
      product. The image is the icon of the product.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_other1</td>
    <td>Show a backup link to the page where the customers can download the
      product. The label is the name of the product with the word
      "Download" in front of it.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_other1_only</td>
    <td>A backup URL to the page where the customers can download the
      product.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_other2</td>
    <td>Show a backup link to the page where the customers can download the
      product. The label is the name of the product with the word
      "Download" in front of it.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_other2_only</td>
    <td>A backup URL to the page where the customers can download the
      product.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_secondary</td>
    <td>Show a backup link to the page where the customers can download the
      product. The label is the name of the product with the word
      "Download" in front of it.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>download_url_secondary_only</td>
    <td>A backup URL to the page where the customers can download the
      product.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>eula</td>
    <td>The complete EULA of the program. The newline characters are
      changed to &lt;bt/&gt;.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>expiration</td>
    <td>The count of days or uses formatted according to the base.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>expiration_base</td>
    <td>The raw expiration base.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>expiration_count</td>
    <td>The raw expiration count.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>expiration_date</td>
    <td>The date when the program expires.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>expiration_info</td>
    <td>The textual information about the expiration mechanism(s) of the program.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>expiration_time</td>
    <td>The time when the program expires.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>export</td>
    <td>Add an inline link to the PAD File which will open
      a window so your users can save the PAD File on their
      hard drive. When a language is specified, only include
      that language in the PAD File.</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>export_url</td>
    <td>The link to the PAD File so the user can export (save
      it to disk). When a language is specified, only include
      that language in the PAD File.</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>fax_phone</td>
    <td>The fax phone number of the company or author.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>general_email</td>
    <td>Email address, as a mailto: link, of the program general.
      Note that since this is public in the PAD File, having
      it on screen makes no difference.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>general_email_only</td>
    <td>The email address only as plain text.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>general_phone</td>
    <td>The general phone number of the company or author.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>hr_size</td>
    <td>The human readable size of the program file. This means
      it is tested and shown in bytes if less than 1024, in
      Kilobytes when between 1024 and 768Kb and Megabytes when
      over 768Kb.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>icon_url</td>
    <td>The IMG tag to the program icon.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>icon_url_only</td>
    <td>The raw URL to the program icon.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>info_url</td>
    <td>A link to a page presenting the program in details.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>info_url_only</td>
    <td>The raw URL to the info page.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>info_url_with_icon</td>
    <td>A URL to the info page of the program using the program icon.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>kb_size</td>
    <td>The approximative size of the program file in kilobytes.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>keywords</td>
    <td>The list of keywords for this set of descriptions.</td>
    <td>Required</td>
  </tr>
  <tr>
    <td>install_support</td>
    <td>What the program installer supports in regard to install/uninstallation.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>languages</td>
    <td>The languages found in the program.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>link</td>
    <td>Add an inline link to the PAD File. When a
      language is specified, only include that
      language in the PAD File. This uses the name of the
      program as the link label.</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>link_url</td>
    <td>The URL of the link to the PAD File. When a
      language is specified, only include that
      language in the PAD File. This URL is the same
      as the one generated by <em>link</em></td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>link_with_icon</td>
    <td>Add an inline link to the PAD File. When a
      language is specified, only include that
      language in the PAD File. This uses the icon of the
      program as the link image.</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>link_with_screenshot</td>
    <td>Add an inline link to the PAD File. When a
      language is specified, only include that
      language in the PAD File. This uses the screenshot of the
      program as the link image.</td>
    <td>Optional</td>
  </tr>
  <tr>
    <td>mb_size</td>
    <td>The approximative size of the program in megabytes.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>modification_date</td>
    <td>The date when you last modified the PAD File on your Drupal website.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>modification_time</td>
    <td>The time when you last modified the PAD File on your Drupal website.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>operating_systems</td>
    <td>The different operating systems supported by the program.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>ordering_url</td>
    <td>A link to the page where your customers can pay for your
      software. The label is set to "Click to order &lt;program name&gt;"</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>ordering_url_only</td>
    <td>The URL to the ordering page.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>ordering_url_with_icon</td>
    <td>A link to the page where your customers can pay for your
      software. The image is set to the program icon.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>padid</td>
    <td>The identifier of this PAD File in the Drupal database.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>program_name</td>
    <td>Insert the name of the program as it appears in the
      PAD File.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>release_date</td>
    <td>The date when the program was released.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>release_time</td>
    <td>The time when the program was released.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>requirements</td>
    <td>The different requirements for the software to work.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>sales_email</td>
    <td>Email address, as a mailto: link, of the program sales.
      Note that since this is public in the PAD File, having
      it on screen makes no difference.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>sales_email_only</td>
    <td>The email address only as plain text.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>sales_phone</td>
    <td>The phone number one can use to purchase the product.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>screenshot_url</td>
    <td>The IMG tag to the program screenshot.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>screenshot_url_only</td>
    <td>The raw URL to the program screenshot.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>state</td>
    <td>The name of the state where the owner resides.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>status</td>
    <td>The current status of the program (such as Alpha, Beta, ...)</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>support_email</td>
    <td>Email address, as a mailto: link, of the program support.
      Note that since this is public in the PAD File, having
      it on screen makes no difference.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>support_email_only</td>
    <td>The email address only as plain text.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>support_phone</td>
    <td>The support phone number of the company or author.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>total_count</td>
    <td>The total number of PAD File, active and inactive.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>total_downloads</td>
    <td>The total number of downloads, across all PAD Files, whether they are active or not.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>type</td>
    <td>The type of software (such as Shareware, Freeware, Commercial...)</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>uid</td>
    <td>The user identifier of the user who created the PAD File.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>user_name</td>
    <td>The name of the user who created the PAD File.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>version</td>
    <td>The version of the program.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>website</td>
    <td>A link to the website of the owner (NOT THE PRODUCT
      WEBSITE). The name of the company (i.e. "company_name")
      is used as the label of the link.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>website_url</td>
    <td>The URL to the owner website (NOT THE PRODUCT WEBSITE).
      This is not a link, just the URL.</td>
    <td>Ignored</td>
  </tr>
  <tr>
    <td>zip</td>
    <td>The zip or postal code where the owner resides.</td>
    <td>Ignored</td>
  </tr>
</table>
